{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "useTabs": false,
    "tabWidth": 2,
    "semi": false
}
